TG_THIS_BOT_TOKEN=<6333088829:AAHVsbB_MP3rDR17KF6i8ENCPHkMcw5aS24>

# The following envs are optional #

# A channel with this bot added as an admin so that it can report the errors there.
TG_REPORT_CHANNEL_ID=<-1002122216002>
# For sending usage events to an Umami instance.
EVENT_PING_URL=https://
EVENT_PING_PROJECT_ID=
